.content-card {
    display: flex;
    background-color: #1e1e1e; 
    padding: 40px;
    border-radius: 12px;
    max-width: 1200px;
    width: 100%;
    height: 700px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    gap: 40px;
    margin-bottom: 20px;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-size: 14px;
    color: #b0b0b0; 
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-ol{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff; 
    margin-bottom: 0;
}

.main-title {
    font-size: 32px; 
    color: #ffffff;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #b0b0b0;
    line-height: 1.6;
}

.image-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 8px; /* 圆角图片 */
    object-fit: cover; 
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); 
}