.project-container {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.content-column {
  flex: 4;
}

.sidebar-column {
  flex: 1;
  position: sticky;
  top: 100px;
}

.content-section {
    padding: 40px;
    border-radius: 12px;
    max-width: 1200px; 
    width: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); 
}

.sidebar {
    background-color: #000000; 
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
}

.sidebar-title {
    font-size: 16px;
    color: #b0b0b0; 
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    font-weight: bold;
    font-size: 15px;
    display: block;
    padding: 10px;
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}
.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #bbbbbb;
}

.sidebar-item.active {
    font-weight: bold;
    color: #ffffff; 
}